
     <div class="top-wrapper">
      <div class="container">
        <%= form_with(model: @blog, local: true ,url: choose_new_or_edit) do |form| %>
          <% if @blog.errors.any? %>
            <div id="error_explanation">
              <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
              <ul>
                <% @blog.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
    
          <div class="blog_title">
            <%= form.label :"投稿内容" %>
            <%= form.text_field :content %>
          </div>
          <%= form.submit  "投稿する" , class: 'btn btn-success'%>
        <% end %>
        <%= link_to "もどる", blogs_path , class: 'btn btn-warning'%>
      </div>
    </div>
   
    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
        
        </div>
      </div>
    </div>

 